<div class="content">
  <h1>Welcome!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo id
    provident accusamus fugit tempora laboriosam? Excepturi non temporibus
    pariatur aut corrupti. Quis veniam facere obcaecati tempore, quasi laborum
    eaque assumenda!
  </p>
  <button type="button" class="btn btn-primary">Send</button>
  <div class="date-wrapper">
    <div class="date-icon"></div>
    <div class="date-description">Your start date: {{ hire.firstDate }}</div>
  </div>
</div>
