.personal-info {
  .title {
    span {
      display: block;
    }
  }
}
.error-input {
  border-color: red;
}
.tooltip-icon {
  border: 1px solid #333;
  padding: 0px;
  color: #333;
  border-radius: 50%;
  display: inline-block;
  width: 17px;
  height: 17px;
  font-size: 13px;
  text-align: center;
  line-height: 13px;
  margin-left: 7px;
  cursor: default;
}
